.addCardComposer {
  width: 100%;
  border-radius: 10px;
  padding: 8px;
  box-sizing: border-box;

  background: var(--surface-raised);
}

.addCardInput {
  width: 100%;
  height: 32px;
  border-radius: 10px;

  background: var(--bg);
  border: 2px solid var(--border-focus);
  color: var(--text);

  font-size: 16px;
  font-weight: 700;

  padding: 0 8px;
  outline: none;
  box-sizing: border-box;
}

.addCardActions {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}
