:root {
  --font: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
}

:root[data-theme='dark'] {
  --bg: #1f1f21;
  --bg-subtle: #ffff;
  --surface: #2a2a2d;
  --surface-hover: #303034;
  --surface-active: #ffff;
  --surface-muted: #ffff;
  --surface-overlay: #ffff;

  --text: #f5f5f7;
  --text-muted: #c9c9ce;
  --text-subtle: #ffff;
  --text-inverse: #ffff;
  --text-disabled: #ffff;
}
