:root {
  --font: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
}

:root[data-theme='dark'] {
  --bg: rgba(31, 31, 33, 1);
  --bg-subtle: #ffff;
  --surface: rgba(42, 42, 45, 1);
  --surface-hover: rgba(255, 255, 255, 0.06);
  --surface-raised: rgba(255, 255, 255, 0.12);
  --surface-raised-hover: rgba(255, 255, 255, 0.18);
  --surface-active: rgba(255, 255, 255, 0.22);
  --surface-disabled: rgba(255, 255, 255, 0.08);
  --item-hover: rgba(103, 157, 241, 0.11);
  --item-active: rgba(103, 157, 241, 0.22);

  --text: rgba(245, 245, 247, 1);
  --text-muted: rgba(201, 201, 206, 1);
  --text-subtle: rgba(255, 255, 255, 0.55);
  --text-inverse: rgba(31, 31, 33, 1);
  --text-disabled: rgba(255, 255, 255, 0.35);

  --border: rgba(255, 255, 255, 0.1);
  --border-subtle: #ffff;
  --border-strong: #ffff;
  --divider: #ffff;
  --border-focus: rgba(103, 157, 241, 0.8);

  --primary: rgba(103, 157, 241, 1);
  --primary-hover: #ffff;
  --primary-active: #ffff;
  --primary-foreground: #ffff;

  --secondary: rgba(245, 245, 247, 1);
  --secondary-hover: rgba(245, 245, 247, 0.5);
  --secondary-active: #ffff;
  --secondary-foreground: #ffff;

  --invisible: rgba(0, 0, 0, 0);
  --transparent: rgba(0, 0, 0, 0.25);
  --transparent-strong: rgba(0, 0, 0, 0.5);
  --backdrop: rgba(0, 0, 0, 0.85);

  --editor-bg: rgba(18, 19, 22, 1);
  --editor-area: rgba(22, 23, 26, 1);

  --error: rgba(239, 68, 68, 1);
}
