:root {
  --font: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
}

:root[data-theme='dark'] {
  --bg: #1f1f21;
  --bg-subtle: #ffff;
  --surface: hsl(240, 3%, 17%);
  --surface-hover: rgba(255, 255, 255, 0.06);
  --surface-active: #ffff;
  --surface-muted: #ffff;
  --surface-overlay: #ffff;
  --item-hover: rgba(103, 157, 241, 0.11);
  --item-active: rgba(103, 157, 241, 0.22);

  --text: #f5f5f7;
  --text-muted: #c9c9ce;
  --text-subtle: rgba(255, 255, 255, 0.55);
  --text-inverse: #1f1f21;
  --text-disabled: #ffff;

  --border: rgba(255, 255, 255, 0.1);
  --border-subtle: #ffff;
  --border-strong: #ffff;
  --divider: #ffff;
  --border-focus: rgba(103, 157, 241, 0.8);

  --primary: #679df1;
  --primary-hover: #ffff;
  --primary-active: #ffff;
  --primary-foreground: #ffff;

  --secondary: rgba(245, 245, 247, 1);
  --secondary-hover: rgba(245, 245, 247, 0.50);;
  --secondary-active: #ffff;
  --secondary-foreground: #ffff;

  --invisible: rgba(0, 0, 0, 0);
  --transparent: rgba(0, 0, 0, 0.25);
}
